body, html{
	margin: 0;
	/*background-color: #666666; */
	background-color: #EFEFEF;
}

a{
	text-decoration: none;
	outline: 0;
	color: #000000;
}

a:hover{
	text-decoration: underline;
	color: #efefef;
}

#wrapper{
	margin: 0 auto;
	width: 768px;
	height: 1792px;
	margin-bottom: 64px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#header{
	margin: 0 auto;
	width 768px;
	height: 64px;
	border-bottom: 1px inset #000000;;
	color: #000000;
}

#header p{
	font-size: .5em;
	color: #000000;
	position: relative;
	bottom: 16px;
	left: 32px;
}

#header h1 a{
	text-decoration: none;
	color: #000000;
}

.feel{
	background-color: #ffffff;
	font: "Shift", Verdana;
	font-size: .75em;
	width: 468px;
	border: 1px solid #666666;
	margin: 0 auto;
	margin: 32px;
	float: left;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 2px;
	font-family: "Shift", Verdana;
	word-wrap: break-word;
}

.feel_comment{
	background-color: #ffffff;
	font: "Shift", Verdana;
	font-size: .75em;
	width: 312px;
	border: 1px solid #666666;
	margin: 0 auto;
	margin: 32px;
	float: left;
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 2px;
	font-family: "Shift", Verdana;
	word-wrap: break-word;
}

.feel_comment_closing{
	float: right;
	color: #8F8F8F;
	font-size: .8em;
	
}

.comments{
	font-size: .75em;
	color: #8F8F8F;
}

.heart{
	width: 16px;
	height: 8px;
}

.heart img{
	opacity: .7;
}

.heart:hover{
	cursor: pointer;
}

.u_n{
	float: left;
	color: #8F8F8F;
	padding-left: 16px;
}

.c_h{
	list-style-type: none;
	float: right;
	position: relative;
	top: 8px;
	left: 6px;
}

.c_h li{
	display: inline-block;
	padding-right: 4px;
}

.h_c{
	font-size: .5em;
	color: #666666;
	position: relative;
	right: 12px;
}

.nav{
	list-style-type: none;
	float: right;
	position: relative;
	bottom: 52px;
	font-size: .7em;
	font-family: "Shift", Sans-serif;
	margin-right: 16px;
}

.nav li{
	display: inline-block;
}

.nav div{
	width: 48px;
	height: 24px;
	background-color: #39F;
	color: #efefef;
	text-align: center;
	line-height: 24px;
	vertical-align: middle;
	font-family: "Shift", Sans-Serif;
	border-radius: 1px;
}

.post_form{
	margin: 0 auto;
	margin-top: 48px;
	float: left;
	font-size: .8em;
}

.post_form_c{
	margin: 0 auto;
	margin-top: 48px;
	float: left;
	font-size: .8em;
	margin-left: 38px;	
}

.post_form_c textarea{
	height: 64px;
}

.s_post{
	float: right;
}

.p_msg{
	width: 468px;
	height: 128px;
	resize: none;
}

#sort_menu{
	list-style-type: none;
	color: #000000;
}

#sort_menu li{
	display: inline;
	padding: 8px;
	font-size: .5em;
}

#sort_menu li a.active{
	text-decoration: underline;
}

#footer{
	color: #ffffff;
	width: 128px;
	height: 64px;
	text-align: center;
	padding-left: 8px;
	margin: 32px;
	padding-bottom: 64px;
}

.f_link{
	padding-left: 8px;
	padding-right: 8px;
	color: #39f;
}

