body, html{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color:#000000;
}

.jumbotron{
	width: 100%;
	height: 100%;	
	min-height: 512px;
	background-image: url("../imgs/piano.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	overflow: hidden;
}

.f_form{
	margin: 0 auto;
	margin-top: 10%;
	padding: 32px;
	width: 256px;
}

.i_home{
	border: 1px solid #efefef;
	width: 256px;
	height: 32px;
	box-shadow: 3px 3px 3px 3px #88888888;
	color: #666666;
}

.top{
	border-radius: 3px 3px 0 0;
}

.bottom{
	border-radius: 0 0 3px 3px;
}
	
.i_submit{
	background-color: #3399FF;
	color: #efefef;
	width: 256px;
	font-family: "Shift", Verdana;
	text-align: center;
	line-height: 48px;
	vertical-align: middle;
	font-size: 1.5em;
	text-transform: lowercase;
	margin-left: 2px;
	margin-top: 16px;
	cursor: pointer;
}

.i_submit:hover{
	background-color: #297ACC;
}

.title{
	font-size: 3em;
	width: 256px;
	color: #ffffff;
	height: 64px;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
	margin-bottom: 16px;
	font-family: "Shift", Verdana;
	text-transform: lowercase;
}

.foot{
	position: absolute;
	width: 100%;
	height: 5%;
	min-height: 32px;
	background-color: #000000;
	border-top: 1px solid #666666;
	border-radius: 3px;
	text-align: center;
}

.f_list{
	list-style-type: none;
	margin-right: 5%;
}

.f_list li{
	display: inline;
	padding: 16px;
}

.f_list li a{
	color: #efefef;
	text-decoration: none;
}

.f_list li a:hover{
	color: #787878;
}

